@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root{
	--clr: #FFB300;
}

::selection{
	background:var(--clr);
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins";
	text-transform: capitalize;
}

body{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
	background: var(--clr);
}

.container{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 80%;
}

.product{
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	background: #fff;
	width: 350px;
	height:350px;
	border-radius: 5px;
	overflow: hidden;
	box-shadow: -7.5px 5px 10px rgba(0, 0, 0, 0.25);
}

img{
	height: 100%;
	width: 100%;
	transition: all 0.25s ease-in-out;
}

.card{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	position: absolute;
	bottom: -50%;
	width: 100%;
	height: 50%;
	background: #fff;
	transition: all 0.25s ease-in-out;
}

.content{
	display: flex;
	justify-content: space-between;
}

.price{
	color: var(--clr);
}

.buttons{
	display: flex;
	justify-content: space-between;
}

button{
	background: #fff;
	width: 150px;
	color: var(--clr);
	height: 50px;
	font-weight: bold;
	border-radius: 5px;
	border: 2px solid var(--clr);
	cursor: pointer;
	transition: all 0.15s ease-in-out;
}

button:last-child{
	background: var(--clr);
	color: black;
}

.product:hover .card{
	bottom: 0;
	padding: 15px;
	
}

/*Hover*/

.product:hover img{
	transform: scale(1.125);
}

button:first-child:hover{
	background: var(--clr);
	color: black;
}

button:last-child:hover{
	background: #fff;
	color: var(--clr);
}


/*Responsive*/

@media screen and (max-width:1325px) and (min-width:1050px ) {
	.container{
		width: 75%;
	}

	.product{
		width: 250px;
		height: 250px;
	}

	.card{
		font-size: max(12px);
		padding: 5px;
	}

	button{
		font-size: 10px;
		width: 105px;
		height: 35px;
	}
}

@media screen and (max-width:1050px) and (min-width:875px ) {
	.container{
		width: 70%;
	}

	.product{
		width: 200px;
		height: 200px;
	}

	.card{
		font-size: max(10px);
		padding: 3px;
	}

	button{
		font-size: 7.5px;
		width: 80px;
		height: 30px;
	}
}


@media screen and (max-width:875px) and (min-width:700px ) {
	.container{
		width: 65%;
	}
	.product{
		width: 150px;
		height: 150px;
	}

	.card{
		font-size: max(8px);
		padding: 3px;
	}

	button{
		font-size: 5px;
		width: 55px;
		height: 20px;
	}
}

@media screen and (max-width:700px) and (min-width:525px ) {
	.container{
		width: 60%;
	}
	.product{
		width: 100px;
		height: 100px;
	}

	.card{
		font-size: max(5px);
		padding: 3px;
	}

	button{
		font-size: 3px;
		border: 1px solid var(--clr);
		border-radius: 3px;
		width: 33px;
		height: 11px;
	}
}

@media screen and (max-width:525px){
	.container{
		flex-direction: column;
		height: 80%;
	}

	.product{
		width: 160px;
		height: 160px;
	}

	.card{
		font-size: max(8px);
		padding: 0px;
	}

	button{
		font-size: 5px;
		width: 55px;
		height: 20px;
	}

}